/* RESET DE ESTILOS */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            padding: 20px;
        }

        /* MENU DE NAVEGAÇÃO */
        nav ul {
            display: flex;
            justify-content: center;
            list-style: none;
            padding: 0;
            background-color: #4E342E;
            margin: 0;
        }

        nav ul li {
            margin: 0 15px;
        }

        nav ul li a {
            color: #fff;
            text-decoration: none;
            padding: 15px;
            display: block;
        }

        nav ul li a:hover {
            background-color: #555;
        }

        nav ul li a:hover {
            background-color: #555;
        }

        /* HEADER */
        header {
            text-align: center;
            margin-bottom: 30px;
        }

        header h2 {
            margin-top: 5%;
            font-size: 30px;
            color: #4E342E;
            margin-bottom: 15px;
        }

        /* FORMULÁRIO */
        form {
            max-width: 500px;
            margin: 0 auto;
            background-color: #fff;
            padding: 30px;
            border-radius: 8px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        }

        label {
            font-size: 16px;
            color: #333;
            margin-bottom: 5px;
            display: block;
        }

        input[type="text"],
        input[type="password"],
        input[type="date"],
        select {
            width: 100%;
            padding: 10px;
            margin: 10px 0 20px 0;
            border: 1px solid #ddd;
            border-radius: 5px;
            font-size: 16px;
        }

        input[type="reset"],
        input[type="submit"] {
            background-color: #4E342E;
            color: #fff;
            padding: 12px 20px;
            border: none;
            border-radius: 5px;
            font-size: 16px;
            cursor: pointer;
            margin-top: 10px;
        }

        input[type="reset"]:hover,
        input[type="submit"]:hover {
            background-color: #795548;
        }

        footer {
            background-color: #111;
            color: #ccc;
            text-align: center;
            padding: 20px;
            font-size: 14px;
            margin-top: 0%;
        }
